/* {
    font-size: 0px;
}*/

html,
body {
    min-width: 960px;
    min-height: 1100px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: white;
    text-transform: uppercase;

    background: #000000 url(bg.png) no-repeat
    center top;
}

.inner-page {
    color: #000;
    background: #f8f8f0 url(bg2.png)
}

.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

.main-header {
    margin-bottom: 60px;
    color: white;
    background-color: black; 
}

.inner-page .main-header {
    margin-bottom: 55px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    /*background: green;    */
}

.main-navigation {
    float: left;    
    width: 700px;
    min-height: 70px;
    /*background: blue;*/
}

.logo-inner {
    float: left;
    width: 111px;
    height: 20px;
    padding-top: 22px;
    /*background: red;*/
}

.main-navigation .logo-inner:hover {
    background: none;
}

.main-navigation a {
    display: block;   /*Ctobi poluchitj otstupi i sverxu i snizu*/
    padding: 25px 20px;

    color: white;
    text-decoration: none;
}

.main-navigation a:hover {
    background: #242424;
}

.main-navigation ul {
   margin: 0px;
   padding: 0px;

   list-style: none;
   font-size: 0px; /*tut nolj, a v main nav li postavili font size i height, ctobi ubratj mezdu nimi zazori*/
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;

    font-size: 16px;
    line-height: 20px;
}

.main-navigation .active {
    position: relative;
    background-color: none;
}

.main-navigation .active a:hover {
    background: none;
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 5px;

    background: #fff;
    /*Poloska rabotaet, tak kak ubrali wirinu, padding u a toze 20px, poetomu on prjam po bukvam rovno vlez*/
}

.user-block {
    float: right;
    width: 140px;
    min-height: 70px;
    /*background: red;*/
}

.login {
    position: relative;

    display: inline-block;
    vertical-align: top;
    padding: 25px 20px;
    padding-left: 50px;

    font-size: 16px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.login:hover {
    background: #242424;
}

.login::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 18px;

    background: url(icon.png) no-repeat;
}

/**/

.inner-page-title {
    margin-bottom: 55px;
}

.inner-page-title h1 {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;

    font-size: 30px;
    line-height: 42px;
}

.Breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Breadcrumbs a {
    color: black;
    text-decoration: none;
}

.Breadcrumbs a:hover {
    text-decoration: underline;
}

.Breadcrumbs .current {
    color: #aba9a7;
}

.Breadcrumbs li {
    position: relative;

    display: inline;
    padding-right: 40px;
}

/*.Breadcrumbs li .square::after {
    KAK PO DRUGOMU SDELATJ ROMB NE DELAJA IX 2
    content: "";
    position: absolute;
    top: 4px;
    right: 18px;

    width: 8px;
    height: 8px;

    background-color: black;
    transform: rotate(45deg);
}*/

.Breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 18px;

    width: 8px;
    height: 8px;

    background-color: black;
    transform: rotate(45deg);
}

.Breadcrumbs .current::after {
    display: none;
}

.inner-gallery {
    
    width: 460px;
    height: auto;
    background: white url(big.png) no-repeat
    center ;
    /*background: black;*/
    min-height: 500px; 
    margin-bottom: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.small-photo-inner {
    float: left;
    width: 142px;
    background: white;
    margin-right: 17px;
    min-height: 170px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.small-photo1 {
    background: white url(1t.png) no-repeat
    center top ;
    
}

.small-photo2 {
    background: white url(2t.png) no-repeat
    center ;
}

.small-photo3 {
    background: white url(3t.png) no-repeat
    center ;
}

.text-block {
    float:right;
    width: 390px;
    /*background: lightgreen;*/
    margin-bottom: 50px;
    min-height: 300px;  
    margin-top: 21px;   
}

.text-block .current {
float: right;
color: #aba9a7;
list-style: none;
}

.text-block .text-title {
    margin: 0;
    margin-bottom: 30px;
}

.text-block p {
    margin-bottom: 40px;
}

.btn-cover {
    font-size: 0px;
    margin-bottom: 60px;
    
}
.cost-btn {
    display: inline-block;
    padding: 10px 33px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;

    background-color:#e5e5e5;
    border: none;
    outline: none;

}

.buy-btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

.all-item-title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}

.all-item {
    margin: 14px 0;
    padding: 0;

    list-style: none;
}

.all-item li {
    position: relative;

    padding-left: 20px;
}

.all-item li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;

    width: 8px;
    height: 8px;

    background-color: black;
    transform: rotate(45deg);
}

/**/
.main-footer {
    color: white;
    margin-top: 65px;
    min-height: 150px;
    width: auto;
    background: #252525;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-contacts a {
    color: #fff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-contacts {
    float: left;
    min-height: 90px;
    width: 320px;
    margin-right: 60px;
    /*background: aqua;*/
    
}

.footer-social {
    float: left;
    width: 180px;
    /*background: aqua;*/
    text-align: center;
}

.footer-copyright {
    float: right;
    max-width: 180px;
    /*background: aqua;*/
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-contacts p {
    margin: 0;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-social p {
    margin: 0px;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0px;

    background: #000 url(f.png) no-repeat;
    background-position: center;

    transition: 
    background-position 0.5s,
    background-color 0.5s;

}

.social-btn:hover{
    background: white;
}

.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 30px;
}

.inner-content p {
    margin: 14px 0;
}

.inner-content table {
    border-collapse: collapse;
}

.inner-content td {
    padding: 10px 15px;
    border: 2px solid black;
}

.big-heading { 
    margin-top: 55px;
    margin-bottom: 65px;
    text-align: center;
}

.big-heading h2 {
    background: #f8f3f0 url(bg2.png) repeat;
    position: relative;
    z-index: 2;

    display: inline-block;
    margin: 0;
    padding: 0 25px;

    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.big-heading::after {
    content: "";
    position: relative;

    top: -25px;
    z-index: 1;

    display: block;

    border-bottom: 2px solid black;
}

.custom-list-1 {
    margin: 14px 0;
    padding: 0;

    list-style: none;
}

.custom-list-1 li {
    position: relative;

    margin-bottom: 15px;
    padding-left: 20px;
}

.custom-list-1 li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;

    width: 8px;
    height: 8px;

    background-color: black;
    transform: rotate(45deg);
}

.prices-table {
    width: 100%;
}

.prices-table td {
    width: 50%;
}

.prices-table td:last-child {
    text-align: center;
}

/*Kolonki dlja kontenta*/
.inner-columns {
    margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
    width: 460px;
    /*border: 2px solid red;*/
}

.inner-column-left {
    float: left;
    
}

.inner-column-right {
    float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
    margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
    margin-bottom: 0;
}

.short-text {
    padding-right: 80px;
}
/*
.gallery {
    
    width: 460px;
    
    background: black;
    min-height: 500px; 
    margin-bottom: 20px;
}*/

.text-container {
    float:right;
    width: 400px;
    background: navajowhite;
    margin-bottom: 50px;
    min-height: 300px;   
}



/*!!!*/

.features {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 80px;
    /*background: green;*/
}

.features-item {
    float: left;
    width: 300px;
    /*background: slategrey;*/
    margin-right: 20px;
    text-align: center;
    min-height: 175px;
}

.features-item:last-child {
    margin-right: 0px;
    /*Ctobi poslednij element ne vilezal iz za marginov*/
}

.features-name {
    position: relative;

    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;
    font-size: 30px;
    line-height: 42px;
}
.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    margin-left: -10px;
    left: 50%;

    display: block;
    width: 20px;
    height: 20px;

    background-color: white;
    transform: rotate(45deg);
}

.features-item p {
    margin: 10px;
    margin-bottom: 0px;
}

.index-content {
    width: 780px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 50px 80px;
    background: url(line.png) no-repeat center, 
    #f8f5f2 url(fon.png);
}

.index-content-left {
    float: left;
    width: 380px;
    min-height: 330px;
    color: black;
    /*background: rebeccapurple;*/
}

.index-content-right {
    float: right;
    width: 300px;
    min-height: 330px;
    color: black;
    /*background: rebeccapurple;*/
}

.index-content-title {
    margin: 0px;
    margin-bottom: 25px; 

    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0px;
    margin-bottom: 25px;

}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;

    list-style: none;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0px;
}

.news-preview time {
    text-transform: none;
    font-weight: 400;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;

    background-color: #ccc;
    border: 7px solid #fff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-prev {
    left:0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    width: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
    
    padding: 7px 15px;

     font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000;
    outline: none;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

/*.appointment-form input:nth-child(2n) {
    margin-right: 0px;
}*/

.appointment-form .btn {
    width: 94%;
}






